/* @import "$HOME/.config/colors/colors.css" */
@import "../colors/colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0;
}

window,
tooltip {
    background-color: @background;
}

#waybar {
    background: alpha(@background, 0.6);
    border-radius: 0;
}

/* ── Workspaces ── */
#workspaces {
    margin: 1px 0;
}

#workspaces button {
    color: @foreground;
    border: none;
    padding: 0;
    margin: 0 4px;
    min-width: 26px;
    border-radius: 6px;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button:hover,
#workspaces button.active:hover {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.7);
    min-width: 26px;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    color: @background;
    background-color: @pink;
    padding: 0;
    min-width: 26px;
}

#workspaces button.urgent {
    color: @background;
    background-color: @red;
    padding: 0;
    min-width: 26px;
}

/* ── Modules Base ── */
#custom-arch,
#custom-power,
#custom-reboot,
#custom-logout,
#custom-lock,
#tray,
#clock,
#custom-system-icon,
#network,
#bluetooth,
#pulseaudio,
#battery {
    color: @foreground;
    margin: 0px 0;
    padding: 0 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#clock:hover,
#custom-system-icon:hover,
#battery:hover {
    background-color: alpha(@select, 0.6);
}

/* ── Specific Colors ── */
#clock {
    margin-right: 10px;
}

#custom-arch {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 14px 0 13px;
}

#custom-arch:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-logout:hover,
#custom-lock:hover {
    color: #000000;
    background-color: #ffffff;
}

/* ── Taskbar ── */
#taskbar button {
    padding: 0 5px;
    margin: 1px 2px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#taskbar button:hover {
    background-color: alpha(@select, 0.6);
}

#taskbar button.active {
    background-color: alpha(@select, 0.4);
}

/* ── Power Menu Group ── */
#group-power {
    background-color: alpha(@select, 0.2);
    border-radius: 12px;
    margin: 1px 25px 1px 0;
    padding: 0 5px;
}

#custom-power,
#custom-reboot,
#custom-logout,
#custom-lock {
    font-size: 16px;
    padding: 0 8px;
    margin: 0;
}



/* ── System Drawer ── */
#group-system {
    background-color: alpha(@select, 0.2);
    border-radius: 12px;
    margin: 1px 10px 1px 0;
    padding: 0 2px;
}

#custom-system-icon {
    padding: 0 12px;
}

#network,
#bluetooth,
#pulseaudio,
#battery {
    padding: 0 6px;
}