configuration {
    scroll-method: 0;
    scrollbar: false;
    show-icons: true;
    drun-display-format: "{name}";
}

@import "~/.config/colors/colors.rasi"

* {
    font: "Inter SemiBold 11";
}

#window {
    border: 0px;
    border-radius: 12px;
    transparency: "real";
    background-color: @background;
    padding:          15;
    width:            850px;
}

#listview {
    columns:      3;
    lines:        2;
    flow:         horizontal;
    fixed-height: 0;
    cycle:        true;
    dynamic:      true;
    fixed-columns: true;
    border:       0px;
    spacing:      2px;
    padding:      2px 0px 0px;
}

#element {
    orientation:   vertical;
    border:        0;
    border-radius: 8px;
    padding:       3px;
}
#element.normal.normal {
    background-color: @background;
    text-color:       @foreground;
}
#element.alternate.normal {
    background-color: @background;
    text-color:       @foreground;
}
#element.selected.normal {
    background-color: @selected-background;
    text-color:       @foreground;
}

element-icon {
    size: 180px;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: inherit;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: inherit;
    text-color: inherit;
}

#scrollbar {
    width:        0px;
    border:       0;
    handle-width: 0px;
    padding:      0;
    handle-color: @select;
}

#inputbar {
    children:      [ entry ];
    spacing:       0;
    padding:       15px;
    border:        0px;
    border-radius: 6px;
    border-color:  @bordercolor;
}
#prompt {
    spacing:    0;
    text-color: @foreground;
}
#textbox-prompt-colon {
    expand:     false;
    str:        ">";
    margin:     0px 0.3em 0em 0em;
    text-color: @foreground;
}
#entry {
    placeholder: "Escolha um wallpaper...";
    spacing:    0;
    text-color: @foreground;
}